@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Dosis');

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    font-size: 28px;
    height: 30px;
}
.navbar .navbar-collapse {
    text-align: center;
    color: #ddd!important;
}
.imgnav {
    position: relative;
    top: -15px !important;
    height: 50px;
}
.img-responsive {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 200px;
    width: 1200px;
}
.img-thumbnail {
    height: 200px;
    width: 300px;
}
.html {
    background: url('images/background.png');
}
.header1 {
    font-family: 'Russo One', sans-serif;
    color: white;
}
.header2 {
    font-family: 'Russo One', sans-serif;
    color: white;
}
.paragraph1 {
    font-family: 'Dosis', sans-serif;
    font-size: 28px;
    color: white;
}
.paragraph2 {
    font-family: 'Dosis', sans-serif;
    font-size: 28px;
    color: white;
}
.nav1 {
    font-family: 'Dosis', sans-serif;
    color: white;
}
.gallery {
    height: 300px;
    width: 180px;
}
.partnership {
    height: 200px;
    width: 300px;
}
.banner {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 200px;
    width: 1200px;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.gallery2 {
    height: 300px;
    width: 180px;
    border-width: 2px;
    border-color: dodgerblue;
    border-style: solid;
}
.paragraph3 {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    color: black;
}

